# Data Types and Structures Assignment

# Theroy Questions

**1. What are data structures, and why are they important?**
- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.they are imp because Choosing the right data structure significantly impacts the efficiency and performance of your program.

**2. Explain the difference between mutable and immutable data types with examples.**
- Mutable data type can be changed after creation,while immutable data type cannot changed after creation.
- Mutable : list,sets,dictionary
- Immutable : tuples, string,integers

**3. What are the main differences between lists and tuples in Python?**
- lists are mutable,ordered collections of items,while tuples are immutable ,ordered collection.
- list use square brackets[ ]
- tuples use parentheses( )

**4. Describe how dictionaries store data.**
- Dictionaries stores data as key-value pairs. each key is unique and maps to specific value. dictionary are unordered collection

**5. Why might you use a set instead of a list in Python?**
- Sets are used for storing unique elements and provide fast membership testing and mathematical operation like union and intersection.

**6. What is a string in Python, and how is it different from a list?**
- A string is an immutable sequence of characters.unlike lists,strings cannot be modified after creation.

**7. How do tuples ensure data integrity in Python?**
- Tuples ensure data intergrity by being immutable,meaning their contents cannot be modified after creation.

**8. What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that maps keys to values using a hash function.in python, dictionaries are implemented as hash table.

**9. Can lists contain different data types in Python?**
- Yes, list can contain different data types,including strings,integers,floats and others lists.

**10. Explain why strings are immutable in Python.**
- Strings are immutable to ensure data integrity and security, as well as to improve performance by allowing string interning.

**11. What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries offer fast loolups,insertions,and deletion with an average time complexity O(1),making them ideal for task requiring efficient data retrieval.

**12. Describe a scenario where using a tuple would be preferable over a list.**
- Using a tuple is preferable when data should not be changed,such as representing a record or a constant collection of items.

**13. How do sets handle duplicate values in Python?**
- Sets automatically eliminate duplicate values,ensuring that each element is unique .

**14. How does the "in" keyword work differently for lists and dictionaries?**
- For lists,"in"checks if a key is present in the list.for dictionaries,"in"checks if key is present in the dictionary.

**15. Can you modify the elements of a tuple? Explain why or why not.**
- No,you cannot modify the elements of a tuple because tuples are immutable by desing.

**16. What is a nested dictionary, and give an example of its use case?**
- A nested dictionary is a dictionary that contain another dictionary as its value

**17. Describe the time complexity of accessing elements in a dictionary.**
- The average time complexing of accessing elements in a dictionary is O(1),making it very efficient.

**18. In what situations are lists preferred over dictionaries?**
- Lists are preferred when the order of elements matters or when you need to store a collection of item that may contain duplicates.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries are considered unordered because they do not maintain the insertion order of elements.
- this affects data retrieveval in that you cannot access elements by their index.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
- Lists allow data retrieval by index,while dictionaries allow data retrieval by key.
- list are ordered,while dictionaries are unordered.

# Practical Questions

In [4]:
#1. Write a code to create a string with your name and print it.
name = "Diksha"
print(name)

Diksha

In [8]:
#2. Write a code to find the length of the string "Hello World
word = "Hello World"
len(word)

11

In [10]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[0:3]

'Pyt'

In [17]:
#4. Write a code to convert the string "hello" to uppercase.
A = "hello"
"hello".upper()

'HELLO'

In [27]:
#5. Write a code to replace the word "apple" with "orange" in the string "l like apple".
string = "i like apple"
string = string.replace("apple","orange")
string

'i like orange'

In [30]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
num = list(range(1,6))
num

[1, 2, 3, 4, 5]

In [32]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1,2,3,4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

In [33]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2 = [1,2,3,4,5]
list2.remove(5)
list2

[1, 2, 3, 4]

In [36]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letter = ['a','b','c','d']
letter[1]

'b'

In [37]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
num = [10,20,30,40,50]
num.reverse()
num

[50, 40, 30, 20, 10]

In [39]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
num = (100,200,300)
num

(100, 200, 300)

In [41]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', yellow').
my_bag = ('red','green','blue','yello')
my_bag[-2]

'blue'

In [45]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
code = (10,20,5,15)
min(code)

5

In [55]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog','cat','rabbit')
(animals.index("cat"))

1

In [56]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit_bag = ('apple','kiwi','orange','banana')
'kiwi' in fruit_bag

True

In [58]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
my_set

{'a', 'b', 'c'}

In [60]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1,2,3,4,5}
set1.clear()
set1

set()

In [62]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num = {1,2,3,4}
num.remove(4)
num

{1, 2, 3}

In [64]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
(set1).union(set2)

{1, 2, 3, 4, 5}

In [65]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {3,4,5}
(set1).intersection(set2)

{3}

In [67]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"Diksha","age":21,"city":"Kolhapur"}
my_dict

{'name': 'Diksha', 'age': 21, 'city': 'Kolhapur'}

In [71]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {"name":"Jonh","age":25}
my_dict["Country"] = "USA"
my_dict

{'name': 'Jonh', 'age': 25, 'Country': 'USA'}

In [72]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
info = {"name":"Alice","age":30}
info["name"]

'Alice'

In [75]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
info = {'name':'Bob','age':22,'city':'New york'}
del info['age']
info

{'name': 'Bob', 'city': 'New york'}

In [76]:
#25. Write a code to check if the key "city" exists in the dictionary {'name: 'Alice', 'city': 'Paris'}.
dict1 = {'name':'Alice','city':'Paris'}
'city' in dict1

True

In [78]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3]
my_tuple = (4,5)
my_dict = {'name':'diksha','age':21}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5)
{'name': 'diksha', 'age': 21}

In [80]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
my_list = random.sample(range(1,101),5)
my_list.sort()
print(my_list)

[18, 19, 55, 89, 98]

In [81]:
#28. Write a code to create a list with strings and print the element at the third index.
fruit = ['apple','orange','kiwi','banana']
fruit[2]

'kiwi'

In [87]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a':24,'b':15}
dict2 = {'name':'diksha','city':'kolhapur'}
combined_dict = {**dict1,**dict2}
combined_dict

{'a': 24, 'b': 15, 'name': 'diksha', 'city': 'kolhapur'}

In [89]:
#30. Write a code to convert a list of strings into a set.
lis1 = ['apple','orange','banana','lime']
list1 = set(list1)
list1

{1, 2, 3, 4, 10}